* text=auto
*.ps1 text
*.sln text
*.csproj text
*.props text
*.xaml text
*.cs text
*.sh eol=lf
*.py eol=lf
*.mjs eol=lf
*.js eol=lf
*.json text
*.yaml text
*.yml text
*.md text

*.png binary
*.ico binary
*.pext binary
*.pthm binary
*.zip binary
*.woff* binary
*.ttf binary
